html {
    background-image: url(img/FondoRCNGradiante_png.jpg);
    background-repeat: repeat-x;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: auto;
    padding: 2em 2em 4em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
	height: 1200px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}
.logo
 {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background:Aq;
    border: 5px solid rgba(0, 0, 0, 0.12);
    border-radius: 41px;
    display: block;
    max-width: 95%;
    float: left;
    margin-left: 49px;
}

.menuprincipal{
float: left;
padding-top: 4%;
padding-left: 30%;}

	
	

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
.principal{
position: relative;
width: 100%;
max-width: 974px;
margin: 0 auto;
height: 520px;
}
.secundaria{
    background: -webkit-linear-gradient(top,rgba(0,0,0,0.68) 0,rgba(0,0,0,0.68) 100%);
    z-index: 13;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 49.282%;
    padding: 0;
}
.cursos{
margin-top: 580px;
background-color: rgba(63, 74, 117, 1);
text-align: center;
color: white;
font-family: cursive;
font-size: 18px;
}
table{
    position: relative;
    margin-left: 40px;
}
.footer{
background-color: rgba(63, 74, 117, 1);
color: white;
text-align: center;
font-family: cursive;
font-size: 18px;
height: 150px;
width: 500px; 
position: absolute
}
.redes{
background-color: rgba(63, 74, 117, 1);
color: white;
text-align: center;
font-family: cursive;
font-size: 18px;
height: 150px;
width: 500px; 
margin-left: 50%;
}

.iconos{
  
    margin-left: 115px;
}


